.classJavaText{
    font-size: 64px;
    font-family: Tahoma, Geneva, sans-serif;
    text-align:  center;
    padding-top: 0;
    margin-top: 0;
    background-color: skyblue;
    padding-bottom: 0;
    margin-bottom: 0;
    margin: 0;
    padding: 0;
}
#test{
    box-sizing: content-box;
}
nav div{
    margin: 0 auto;
    padding: 0;
}

nav ul {
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline-block;
    padding: 0;
}


nav ul li a:hover { 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    color: white;
    padding: 0;
}
#nav-menu{
    width: 1960px;
    margin-top: 0;
    padding-top: 0; 
    font-size: 24px;
    background-color: grey;
    position: relative;
    padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  padding: 0;
}
h1 p{
    font-size: 20px;
    margin-top: 1;
    padding-bottom: 0;
    margin-bottom: 0;
}
#side-menu{
    box-sizing: border-box;
    float: right;
  
    margin-top: 0;
    padding-top: 0;
    text-align: justify-all;
    background-color: beige;
}
/*#navigation{
    display: inline;
}*/
#content{
    float: left;
    
}
#footer{
    clear: both;
    margin: 30px 0 0;
    padding: 15px;
}

#footer p{
    font-size: 14px;
    text-align: center;
}
#h{
    padding: 18px;
    margin-left: 135px;
    margin-right: 30px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    color: skyblue;
    padding: 0;
}

#j{
    padding: 18px;
    margin-left: 135px;
    margin-right: 30px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    color: skyblue;
    padding: 0;
}

#l{
    padding: 18px;
    margin-left: 135px;
    margin-right: 30px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    color: skyblue;
    padding: 0;
}
.classImg{
    text-align: center;
    align-content: center;
}
.classMainTextic{
    font-family: Tahoma, Geneva, sans-serif;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 320px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}